{% if categories %}
	{% for category in categories %}
		{% if category.children %}
			<li class="dropdown header-bottom__catalog-item">
				<a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ category.icon }}" alt="">
                    {{ category.name }}</a>
				<div class="dropdown-menu">
					<div class="dropdown-inner">
						{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
						<ul class="list-unstyled">
							{% for child in children %}
								<li class="header-bottom__catalog-item">
									<a href="{{ child.href }}">
                                    <img src="{{ category.icon }}" alt="">
                                    {{ child.name }}</a>
								</li>
							{% endfor %}
						</ul>
						{% endfor %}
					</div>
					<a class="header-bottom__catalog-link" href="{{ category.href }}" class="see-all">{{ text_all }}
					<img src="{{ category.icon }}" alt="">{{ category.name }}</a>
				</div>
			</li>
			{% else %}
				<li class="header-bottom__catalog-item">
					<a class="header-bottom__catalog-link" href="{{ category.href }}">
                    <img src="{{ category.icon }}" alt="">
                    {{ category.name }}</a>
				</li>
		{% endif %}
	{% endfor %}
{% endif %}
